@tailwind base;
@tailwind components;
@tailwind utilities;

@import  url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@layer base {
    @font-face {
        font-family: Lato;
    }
    @font-face {
        font-family: FontinSansCR;
        src: url('../assets/fonts/FontinSansCR.woff') format('woff');
    }
}

body {
    font-family: Lato;
}

h1, h2, h3, h4, h5, .font-headers{
    font-family: FontinSansCR;
}

h1 {
    @apply text-2xl md:text-4xl font-semibold;
}

h2 {
    @apply text-xl md:text-3xl;
}

h3 {
    @apply text-lg md:text-2xl;
}

p {
    @apply text-base;
}

/* --- Hero Video --- */

#EOB-Bg-video{
    @apply -mt-2;
    z-index:-1;
}

/* --- Banner Spacing --- */

.banner {
    @apply -mt-2;
    z-index:-1;
}

/* --- Testimonials --- */

.testimonialBG{
    @apply w-full border-t-2 border-black/10 drop-shadow-xl;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.446), rgba(0, 0, 0, 0.446)), url("../assets/images/lilypads-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* --- Meet Eva --- */

.meetEvaContentBody h3{
    @apply text-brown font-semibold text-lg my-3 leading-tight;
}

.meetEvaContentBody p {
    @apply text-sm lg:text-base my-3;
}

/* --- Forms --- */

textarea {
    resize: none;
}

.formDivide {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmNmZmZWYiPjxwYXRoIGQ9Ik0xMjgwIDBMNjQwIDcwIDAgMHYxNDBsNjQwLTcwIDY0MCA3MFYweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMjgwIDBIMGw2NDAgNzAgNjQwLTcweiIvPjwvZz48L3N2Zz4=);
    background-size: 100% 100px;
    top: 0;
    height: 100px;
    display: block;
    background-repeat-y: no-repeat;
    pointer-events: none;
    width: 100%;
    @apply bg-green;
}

/* --- Buttons --- */

.buttonLight {
    @apply cursor-pointer px-5 py-2 border border-black hover:border-transparent rounded-sm shadow-md text-lg md:text-2xl hover:bg-green hover:text-white transition-all w-fit;
}